:root {
  --vegas-gold: #d6ba73;
  --eton-blue: #087E8B;
  --middle-grey: #FF5A5F;
  --dark-byzantium: #C1839F;

  --background-color: #F5F5F5;
  --heading-color: var(--eton-blue);
  --highlight-color: var(--dark-byzantium);
}

::selection {
  background: var(--highlight-color); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--highlight-color); /* Gecko Browsers */
}

body, html {
  margin: 0;
  padding: 0 15px 10px 15px;
  background-color: var(--background-color);
  color: #000;

  font-family: 'Noto Serif JP', serif;
}

body * {
  padding: 0;
  margin: 0;
}

nav {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 600px;
  margin: auto;
}

.title {
  margin: 0.5em 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

hr {
  margin: 0.5em 0;
}

a {
  color: var(--heading-color);
}

h2, h1 {
  font-family: 'Poppins', sans-serif;
  margin: 0.5em 0;
  font-weight: 300;
}

 p {
  text-align: justify;
  padding: 0.4em 0;
}

.post img {
  padding: 0.5em 0;
}

.buttons {
  margin: auto;
  display: flex;
  justify-content: center;
}

.github-btn, .youtube-btn {
  border-radius: 50%;
  display:inline-flex;
  transition: 300ms background-color ease-in-out;
  width:40px;
  height:40px;
  margin:0px 3px;
}

.github-btn:hover {
  background-color: rgb(22, 20, 21);
}

.github-btn img {
  border-radius: 50%;
}

.youtube-btn:hover {
  background-color: rgb(255, 0, 0);
}

.youtube-btn img {
  border-radius: 50%;
}