:root {
  --background-color: rgb(251, 249, 240);
}

body, html {
  margin: 0;
  padding: 0 15px;
  background-color: var(--background-color);

  font-family: 'Noto Serif JP', serif;
}

body * {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 600px;
  margin: auto;
}

.title {
  margin: 0.5em 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

hr {
  margin: 0.5em 0;
}

.post a {
  color: rgb(27, 99, 172);
}

.post h2 {
  font-family: 'Poppins', sans-serif;
  margin: 0.5em 0;
  font-weight: 300;
}

.post p {
  padding-bottom: 0.5em;
}

.post img {
  padding: 0.5em 0;
}

.footer {

}

.buttons {
  width: fit-content;
  margin: auto;
}


.github-btn, .youtube-btn {
  border-radius: 50%;
  display:inline-flex;
  transition: 300ms background-color ease-in-out;
  width:40px;
  height:40px;
  margin:0px 3px;
}

.github-btn:hover {
  background-color: rgb(22, 20, 21);
}

.github-btn img {
  border-radius: 50%;
}

.youtube-btn:hover {
  background-color: rgb(255, 0, 0);
}

.youtube-btn img {
  border-radius: 50%;
}