:root {
  --off-white: #F5F5F5;
  --blue: #087E8B;
  --pink: #C1839F;

  --background-color: var(--off-white);
  --heading-color: var(--blue);
  --highlight-color: var(--pink);
}

::selection {
  background: var(--highlight-color); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--highlight-color); /* Gecko Browsers */
}

body, html {
  margin: 0;
  padding: 0 15px 15px 15px;
  background-color: var(--background-color);
  color: #000;

  font-family: 'Noto Serif JP', serif;
}

body * {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 600px;
  margin: auto;
}

hr {
  margin: 0.5em 0;
}

a {
  color: var(--heading-color);
}

h1, h2, h3 {
  color: var(--heading-color);
  font-family: 'Poppins', sans-serif;
  margin: 0.5em 0;
  font-weight: 300;
}

.title a {
  text-decoration: none;
}

p {
  text-align: justify;
  padding: 0.4em 0;
}

.post img {
  padding: 0.5em 0;
}

.buttons {
  margin: auto;
  display: flex;
  justify-content: center;
}

.github-btn, .youtube-btn, .discord-btn {
  border-radius: 50%;
  display:inline-flex;
  transition: 300ms background-color ease-in-out;
  height: 40px;
  margin:0px 3px;
}

.github-btn img, .youtube-btn img, .discord-btn img {
  border-radius: 50%;
}

.github-btn:hover {
  background-color: rgb(22, 20, 21);
}

.youtube-btn:hover {
  background-color: rgb(255, 0, 0);
}

.discord-btn:hover {
  background-color: #7289DA;
}